[submodule "antigravity-auto-accept"]
	path = antigravity-auto-accept
	url = https://github.com/pesoszpesosz/antigravity-auto-accept
[submodule "auto-accept-agent"]
	path = auto-accept-agent
	url = https://github.com/Munkhin/auto-accept-agent
[submodule "yoke-antigravity"]
	path = yoke-antigravity
	url = https://github.com/ai-dev-2024/yoke-antigravity
[submodule "AUTO-ALL-AntiGravity"]
	path = AUTO-ALL-AntiGravity
	url = https://github.com/ai-dev-2024/AUTO-ALL-AntiGravity
[submodule "free-auto-accept-antigravity"]
	path = free-auto-accept-antigravity
	url = https://github.com/RendezvousP/free-auto-accept-antigravity
[submodule "AntiBridge-Antigravity-remote"]
	path = AntiBridge-Antigravity-remote
	url = https://github.com/linhbq82/AntiBridge-Antigravity-remote
[submodule "AntigravityMobile"]
	path = AntigravityMobile
	url = https://github.com/AvenalJ/AntigravityMobile
[submodule "antigravity-multi-purpose-agent"]
	path = antigravity-multi-purpose-agent
	url = https://github.com/rodhayl/antigravity-multi-purpose-agent
[submodule "Claude-Autopilot"]
	path = Claude-Autopilot
	url = https://github.com/benbasha/Claude-Autopilot
[submodule "copilot-auto-continue"]
	path = copilot-auto-continue
	url = https://github.com/PawiX25/copilot-auto-continue
